cicdmavendeploy20/target/META-INF/mule-src/cicdmavendeploy20/src/main/mule/cicdmavendeploy20.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="05518b46-4881-44f4-993f-bcf7569bc2ec" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdmavendeploy20Flow" doc:id="100e24b2-855d-4959-9d3f-96495698d0f1" >
		<http:listener doc:name="http-listener" doc:id="55adb5ec-7b52-4cc5-9970-4383e0720bfd" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#[{&#10;	"name": "durga"&#10;}]' doc:name="emp-data" doc:id="ebfc4de3-5442-4f1f-9194-a3247c4dd1d9" />
		<logger level="INFO" doc:name="logs-data" doc:id="80f773ea-ee2c-402b-88dd-bc087a5aa97d" message="#[payload]"/>
		<ee:transform doc:name="response" doc:id="b18b713d-5248-4dd8-a36c-27b2e0da34d9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
